@import '../../variables.scss';

.project-card {
	@include center-h;
	justify-content: space-between;
	margin-top: 4rem;
	width: 80%;

	@media screen and (max-width: 1000px) {
		@include center-v;
		width: 90%;
	}

	@include large-media {
		display: grid;
		grid-template-columns: 55% 35%;
		margin-bottom: 5vh;
	}

	a {
		width: 100%;
		@include large-media {
			grid-column: 1;
		}

		.project-examples {
			@include center-h;
			margin: 0 0 4vh 0;
			filter: drop-shadow(rgba(200, 255, 255, 0.2) 0.1rem 0.1rem 1rem);

			.desktop-example {
				@include center-v;
				position: relative;
				margin: 0 0 0 0;
				height: calc(27vw);
				width: 45vw;
				border-radius: calc(1vw);
				background-color: black;

				@include small-media {
					height: calc(42vw);
					width: 65vw;
				}

				.desktop-screen {
					height: calc(25vw);
					width: 40vw;
					border-radius: calc(0.5vw);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: top center;

					@include small-media {
						height: calc(38vw);
						width: 62.1vw;
					}
				}

				.desktop-screen-stand {
					position: absolute;
					bottom: -7%;
					height: calc(2vw);
					width: 5vw;
					background-color: black;

					@include small-media {
						height: calc(2.89vw);
						width: 7.22vw;
						bottom: -7%;
					}
				}

				.desktop-screen-base {
					position: absolute;
					bottom: -10%;
					height: calc(1.5vw);
					width: 10vw;
					border-radius: 50%;
					background-color: black;

					@include small-media {
						height: calc(2.167vw);
						width: 14.44vw;
					}
				}
			}

			.mobile-example {
				z-index: 2;
				display: grid;
				align-items: center;
				justify-content: center;
				grid-template-rows: calc(2vw) auto calc(3vw);
				margin: calc(17.5vw) 0 0 -8vw;
				height: calc(21vw);
				width: 10vw;
				border-radius: calc(1vw);
				background-color: black;
				box-shadow: inset rgba(255, 255, 255, 0.4) 1px 1px 3px;
				transform: rotate(10deg);

				@include small-media {
					height: calc(30.33vw);
					width: 14.44vw;
					margin: calc(25vw) 0 0 -8vw;
				}

				.phone-camera {
					grid-row: 1;
					display: flex;
					align-self: center;
					justify-self: center;
					height: calc(1vw);
					width: 1vw;
					border-radius: 50%;
					background-color: $darkest-gray;

					@include small-media {
						height: calc(1.44vw);
						width: 1.44vw;
					}
				}

				.phone-screen {
					grid-row: 2;
					height: calc(16vw);
					width: 8.5vw;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 0.25rem;

					@include small-media {
						height: calc(23.11vw);
						width: 13vw;
					}
				}

				.phone-button {
					grid-row: 3;
					display: flex;
					align-self: center;
					justify-self: center;
					height: calc(2vw);
					width: 2vw;
					border-radius: 50%;
					background-color: $dark-gray;

					@include small-media {
						height: calc(2.89vw);
						width: 2.89vw;
					}
				}
			}
		}
	}

	.project-info {
		
		@include large-media {
			grid-column: 2;
		}

		a > h3 {
			margin: 0 7.5% 2rem 7.5%;
			width: 85%;
			@include font-two;
			font-size: 2.5rem;
			text-align: center;
			text-transform: uppercase;
			text-shadow: $darkest-gray 1px 1px 3px;
		}

		.project-description {
			margin: 3rem 10% 5rem 10%;
			width: 80%;
			font-size: 2rem;
			text-align: center;
			line-height: 150%;
		}

		.skills-used {
			@include center-h;
			flex-wrap: wrap;
			margin: 1rem 1rem 0 1rem;

			.project-skill {
				margin: 1rem;
				height: 3rem;
			}
		}

		.project-repo {
			margin-top: 4rem;
			font-size: 2rem;
			text-align: center;
		}

		a { 
			
			width: 100%;

			.git-hub-icon {
				margin: 2rem calc(50% - 2rem) 5rem calc(50% - 2rem);
				height: 4rem;

				&:last-child {
					margin: 2rem calc(50% - 2rem) 0 calc(50% - 2rem);
				}
			}
		}
	}
}